* {
    margin: 0;
    padding: 0;
}
.conteiner {
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.contactos {
    display: flex;
    flex-basis: 20%;
    flex-direction: column;
    border: solid 1px black;
}

/* estatus */
.estado {
    display: flex;
    justify-content:space-between;
    padding: 10px;
    border-bottom: solid 1px black;
}
.estado .perfil {
    display: flex;
    align-items: center;
}
.estado .perfil:hover {
    cursor: pointer;
}
.estado .perfil img {
    width: 35px;
    border-radius: 50px;
}
.estado .perfil .info {
    padding: 10px;
}
.estado .perfil .info p {
    font-size: 13px;
}
.contactos .estado .iconos {
    display: flex;
    align-items: center;
}
.contactos .estado i {
    padding: 10px;
    color: gray;
}
.contactos .estado i:hover {
    font-size: x-large;
    cursor: pointer;
}

/* boton nuevo chat */
.boton{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    border-bottom: solid 1px black;
}
.boton button {
    background-color: #A491D2;
    color: white;
    padding: 13px;
    width: 180px;
    border: none;
    font-size: 1em;
}
.boton button:hover{
    background-color: blueviolet;
    cursor: pointer;
}

/* contactos */
.contactos .contacto {
    display: flex;
    height: 90px;
    align-items: center;
    border-bottom: solid 1px black;
}
.contactos .contacto:hover {
    background-color: #A491D2;
    cursor: pointer;
}
.contactos .contacto img {
    margin-left: 30px;
    width: 60px;
    border-radius: 50px;
}
.contactos .contacto .info {
    padding: 15px;
}



/* principal */

.principal {
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    flex-direction: column;
    background-color: rgb(227, 227, 227);
}
.principal img{
    width: 300px;
    padding-bottom: 20px;
}
.principal h1{
    font-size: 2.5em;
}

